/* =============================================================================
   VARIABLES - Basic variables for stylus
============================================================================= */

/* Breakpoint variables */
min-mobile = 0
max-mobile = 767px
min-tablet =  767px
max-tablet = 959px
min-desktop = 960px

/* colors */
$bg_grey = #f4f4f4
$font_lightblue = #3a87ad
$font_green = #468847
$border_grey = #ccc