/* =============================================================================
   BASE - Bases styles for the site
============================================================================= */
*
    box-sizing border-box

body 
	font-family Arial,Helvetica,"Nimbus Sans L",sans-serif

h1
	text-align center
	font-size 2.3em
	margin-bottom 20px

h3,
h4
	font-weight 600
	margin-bottom 20px

legend
	font-size 0.8em