/* =============================================================================
   UI COMPONENTS - Styles for the basic page components
============================================================================= */


.container
	margin 0 auto
	width 960px


/* Two col Layout component */
.two-col-layout
	.first-col,
	.second-col
		width 50%
	.first-col
		float left
	.second-col
		float right


/* Responsive images class */
.img-responsive
	width 100%
	height auto
	display block

/* Clearfix */

.clearfix
	&:after
		visibility hidden
		display block
		font-size 0
		content " "
		clear both
		height 0

/* Tabs */
.tab-component
	position relative
	margin 25px 0
	.tab-section
		float left
		padding 0
		border 0
		margin-right 10px
		&:hover
			background-color #fff
		label
			background #eee
			padding 10px
			position relative
			top 2px
			border 1px solid $border_grey
			border-radius 5px 5px 0 0
			&:hover
				cursor pointer
				background-color $border_grey
		input[type="radio"]
			display none
			&:checked ~ label
				background: white
				border-bottom: 1px solid white
				z-index: 2
			&:checked ~ label ~ .panel
				display block
		.panel
			position absolute
			display none
			width 100%
			top 28px
			left 0
			background white
			padding 20px
			border 1px solid #ccc

/* questions Module */

.questions
	h5
		font-size 1em
		font-weight 600
		margin-bottom 5px
	.question
		color $font_lightblue
	.answer
		color $font_green
	

/* =============================================================================
	ALL MOBILE DEVICES - For Phones and tablets / From 0 to 959px
============================================================================= */

@media screen and (max-width: 959px)
	.container
		margin 0 auto
		width 768px


/* =============================================================================
	MOBILE DEVICES - For Phones and tablets mini / From 0 to 767px
============================================================================= */

@media screen and (max-width: 768px)
	.container
		width 100%
		padding-left 20px
		padding-right 20px
		
	.tab-component
		.tab-section
			width 30%
			label
				white-space nowrap