/* =============================================================================
   CONFIG - Master configuration file for the stylus module
============================================================================= */

/* 	Here you load all the stylus files you want to use on the app.
	Any files loaded into the css should be called from here
	Files are written out in the order they are imported
*/

/* Stylus files for all the site */
@import "modules/ui.styl"
@import "modules/base.styl"
@import "partials/variables.styl"

/* Stylus file for particular pages */
@import "modules/pages/product-detail.styl"