/* =============================================================================
   PRODUCT DETAIL - Specific styles for the product landing page
============================================================================= */

.product-detail
	background-color $bg_grey
	padding 20px 0
	.two-col-layout
		.second-col
			width 45%
	.shop-form
		margin-bottom 20px
		label
			text-align left
			width 55px
		legend
			padding-top 10px	
	.price
		font-size 2.8em
		line-height 40px
		margin-bottom 20px		
		sup
			font-size 0.5em
			line-height 35px
	.product-carousel
		figure
			width 80px
			height 80px
			overflow hidden

/* =============================================================================
	MOBILE DEVICES - For Phones and tablets mini / From 0 to 767px
============================================================================= */

@media screen and (max-width: 768px)
	.product-detail
		.two-col-layout
			.first-col,
			.second-col
				float none
				width 100%	
				